.container {
  max-width: 1536px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
}
.card {
  display: flex;
  flex-direction: column;
}
.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  text-align: center;
  transition: all 1s ease;
}
.img {
  width: 100%;
  height: 550px;
  border-radius: 20px;
  object-fit: cover;
  object-position: 100% 100%;
}
.img:hover {
  transform: scale(1.1);
}
h2 {
  margin-top: 20px;
  font-size: 18px;
  color: #d3042dbd;
}
.button-recipe {
  margin-top: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 50px;
}
.isShow-button-recipe {
  margin-top: 20px;
  cursor: pointer;
  background-color: #dd4141;
  color: white;
  font-size: 18px;
}

.card-recipe {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(135deg, #f08f72 10%, #d3042d 100%);
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 15px;
  transition: all 0.5s ease-out;
  text-align: center;
}

h3,
h4,
h5 {
  font-weight: 400 !important;
  margin-top: 10px;
}

.recipe-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin: 10px;
}

.recipe {
  text-align: left;
}

.icon {
  font-size: 23px;
}

.making li {
  list-style-type: decimal;
  margin-left: 20px;
  font-weight: 300;
  margin-top: 10px;
}

.ingredient li {
  list-style-type: circle;
  margin-left: 20px;
  font-weight: 300;
  margin-top: 5px;
}

@media only screen and (max-width: 1450px) {
  .container {
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
  }

  .button-recipe {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1054px) {
  .container {
    max-width: 900px;
    margin: auto;
    grid-template-columns: repeat(2l, 1fr);
    margin-top: 60px;
  }

  .button-recipe {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    max-width: 700px;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 60px;
  }

  .button-recipe {
    margin-bottom: 20px;
  }

  .img {
    object-fit: cover;
    object-position: 50% 70%;
  }
}
